.greeting {
    position: relative;
    height: 20vh;
    display: flex;
    align-items: center;
}

.error {
    border: 1px solid #B03F35;
}

.errorTitle {
    color: #B03F35
}

.total {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}
